.invoice-details {
    display: grid;
    place-items: center;
    text-align: center;
  }
  
  .container-invoice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Khoảng cách từ header */
    padding-top: 100px;
    overflow-y: auto; /* Cho phép trang web tự động kéo dài xuống */
  }
  
  .container-details {
    height: 400px;
    width: 800px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #dc683299;
    margin-bottom: 20px;
  }
  #title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .information-invoice,
  .img-invoice {
    width: 45%;
    height: 90%;
    background-color: azure;
    margin: 20px;
    border-radius: 30px;
  }
  
  .img-invoice {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-invoice img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .information-invoice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }
  
  .name-details,
  .price-details,
  .payment-details,
  .delivery-details {
    padding-left: 10px;
    font-weight: 500;
    margin: 30px 0px 30px 20px;
  }
  
  .space {
    height: 100px;
  }